<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>India</title>
    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        margin: 0;
        padding: 0;
      }

      #container {
        width: 100%;
        height: calc(100% - 46.5px);
      }

      body {
        font-family: "Poppins", sans-serif;
        height: 100vh;
      }

      .heading {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1 class="heading">Suicide Rate from 2001 - 2012</h1>
    <div id="container"></div>
    <script type="text/javascript">
      (async () => {
        const mapData = await fetch(
          "https://code.highcharts.com/mapdata/countries/in/in-all.topo.json"
        ).then((response) => response.json());

        const data = await fetch("http://localhost:4000/api/map").then(
          (response) => response.json()
        );

        Highcharts.mapChart("container", {
          title: {
            text: null,
          },
          chart: {
            styledMode: false,
          },
          mapNavigation: {
            enabled: true,
            buttonOptions: {
              verticalAlign: "bottom",
            },
          },
          colorAxis: {
            min: 1,
            max: 1_301_200,
            type: "logarithmic",
            stops: [
              // b30000	a10000	8f0000	7d0000	6b0000	5a0000
              [0, "#d98080"],
              [0.166, "#ca4d4d"],
              [0.166 * 2, "#b30000"],
              [0.166 * 3, "#ca4d4d"],
              [0.166 * 4, "#bb1a1a"],
              [0.166 * 5, "#b30000"],
              [1, "#8f0000"],
            ],
          },
          colors: [],
          series: [
            {
              mapData,
              name: "Death Rate",
              data,
              states: {
                hover: {
                  color: "#BADA55",
                },
              },
              tooltip: {
                valueSuffix: " deaths",
                followPointer: true,
              },
              events: {
                click: (e) => {
                  const siteID = e.point["hc-key"];
                  console.log(siteID);
                  window.location.href = `/${siteID}`;
                },
              },
            },
          ],
        });
      })();
    </script>
  </body>
</html>
