<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{state}}</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href={{url_for('static', filename='state.css')}}>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <style>
      * {
        margin: 0;
        padding: 0;
      }

      #container {
        width: 100%;
        height: 100vh;
      }

      body {
        font-family: "Poppins", sans-serif;
      }
    </style>
  </head>
  <body class="container">
    <div class="chart">
      <h3>Year wise suicide rate</h3>
      <canvas id="yearChart"></canvas>
    </div>

    <div class="chart">
      <h3>Gender wise suicide rate</h3>
      <canvas id="genderChart"></canvas>
    </div>

    <div class="chart">
      <h3>Profession wise suicide rate</h3>
      <canvas id="professionalChart"></canvas>
    </div>

    <div class="chart">
      <h3>Cause wise suicide rate</h3>
      <canvas id="causeChart"></canvas>
    </div>

    <div class="chart">
      <h3>Age wise suicide rate</h3>
      <canvas id="ageGroupChart"></canvas>
    </div>

    <div class="predictor">
      <h1>Predictor</h1>
      <form class="form" id="form">
        <div class="p-item">
          <label>Age</label>
          <input id="f-age" class="form-control" type="number" />
        </div>
        <div class="p-item">
          <label>Profession</label>
          <select id="f-prof" class="form-select">
            <option value="Farming/Agriculture Activity">
              Farming/Agriculture Activity
            </option>
            <option value="House Wife">House Wife</option>
            <option value="Professional Activity">Professional Activity</option>
            <option value="Public sector undertaking">
              Public sector undertaking
            </option>
            <option value="Retired Person">Retired Person</option>
            <option value="Self-employed">Self-employed</option>
            <option value="Service (Government)">Service (Government)</option>
            <option value="Service (Private)">Service (Private)</option>
            <option value="Student">Student</option>
            <option value="Unemployed">Unemployed</option>
            <option value="Others">Others</option>
          </select>
        </div>

        <div class="p-item">
          <label> Gender </label>
          <select id="f-gender" class="form-select">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>

        <button class="btn btn-primary" type="submit">Predict</button>
      </form>

      <p id="result" class="result hidden">
        The chance of committing suicide is 1%
      </p>
    </div>
  </body>

  <script>
    (async () => {
      const yearChart = document.getElementById("yearChart");
      const genderChart = document.getElementById("genderChart");
      const professionalChart = document.getElementById("professionalChart");
      const ageGroupChart = document.getElementById("ageGroupChart");
      const causeChart = document.getElementById("causeChart");

      // Year
      const yearData = await fetch("/api/by-year/{{state}}").then((response) =>
        response.json()
      );

      new Chart(yearChart, {
        type: "line",
        data: {
          labels: yearData.map((v) => v._id.Year),
          datasets: [
            {
              label: "Number of cases ",
              data: yearData.map((v) => v.count),
              borderWidth: 3,
            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });

      // Gender
      const genderData = await fetch("/api/by-gender/{{state}}").then(
        (response) => response.json()
      );

      new Chart(genderChart, {
        type: "pie",
        data: {
          labels: genderData.map((v) => v._id.Gender),
          datasets: [
            {
              label: "Number of cases ",
              data: genderData.map((v) => v.count),
              borderWidth: 1,
            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });

      // Professional
      const professionalData = await fetch("/api/by-education/{{state}}").then(
        (response) => response.json()
      );

      new Chart(professionalChart, {
        type: "bar",
        data: {
          labels: professionalData.map((v) => v._id.cause),
          datasets: [
            {
              label: "Number of cases ",
              data: professionalData.map((v) => v.count),
              borderWidth: 1,
            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });

      // Age group
      const ageGroupData = await fetch("/api/by-age/{{state}}").then(
        (response) => response.json()
      );

      new Chart(ageGroupChart, {
        type: "polarArea",
        data: {
          labels: ageGroupData
            .filter((v) => v._id.Age_group !== "0-100+")
            .map((v) => v._id.Age_group),
          datasets: [
            {
              label: "Number of cases ",
              data: ageGroupData
                .filter((v) => v._id.Age_group !== "0-100+")
                .map((v) => v.count),
              borderWidth: 1,
            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });

      const causeData = await fetch("/api/by-cause/{{state}}").then(
        (response) => response.json()
      );

      new Chart(causeChart, {
        type: "bar",
        data: {
          labels: causeData
            .filter(
              (v) =>
                !v._id.cause.includes("Other Causes") ||
                !v._id.cause.includes("Not known")
            )
            .map((v) => v._id.cause),
          datasets: [
            {
              label: "Number of cases ",
              data: causeData
                .filter((v) => {
                  return (
                    !v._id.cause.includes("Other Causes") ||
                    !v._id.cause.includes("Not known")
                  );
                })
                .map((v) => v.count),
              borderWidth: 1,
            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });
    })();
  </script>

  <script>
    const form = document.getElementById("form");

    const age = document.getElementById("f-age");
    const profession = document.getElementById("f-prof");
    const gender = document.getElementById("f-gender");

    const result = document.getElementById("result");

    form.addEventListener("submit", async (e) => {
      e.preventDefault();
      if (!age.value || !profession.value || !gender.value) {
        // TODO: show some error message
        return;
      }

      const data = await fetch("/api/predict/{{state}}", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          profession: profession.value,
          gender: gender.value,
          age: age.value,
        }),
      }).then((response) => response.json());

      result.innerText = `The chances of committing suicide is ${data.percentage} %`;
      result.classList.remove("hidden");
    });
  </script>
</html>
